<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>



   <% if(kindOfDay==="Friday" || kindOfDay==="Sunday"){ %>
        <h1 style="color:purple"><%=kindOfDay%>ToDoList</h1>
   <% } else{ %>
         <h1 style="color:blue"><%=kindOfDay%>ToDoList</h1>
    <% } %>

</body>
</html>